body {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  background-image: url("./img/pumpkin-yellow-halloween-party-2019.jpg");
  background-size: cover;
}
::selection {
  background: transparent;
}
button {
  margin: 10px;
  padding: 5px 15px;
  background-color: brown;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  transition: 0.3s ease-in-out;
}
button:hover {
  transform: scale(1.1);
}
p {
  margin: 5px;
}
